<?xml version="1.0"?>

<config method = 'Incognito_L' k = '6' l="6" c="4" t="0.2">
    <input filename='dataset/adult.csv' separator=','/>
    <output filename='test/adult_Anon_IncoL6C4.csv'/>
    <sqlitefile path='dbdir/Anon_adult_IncoL6C4.db'/>

    <qid>
        <att index='0' name='Age'>
            <vgh value="[15:95)">
                <node value="[15:35)">
                    <node value="[15:25)">
                        <node value="[15:20)"/>
                        <node value="[20:25)"/>
                    </node>
                    <node value="[25:35)">
                        <node value="[25:30)"/>
                        <node value="[30:35)"/>
                    </node>
                </node>
                <node value="[35:55)">
                    <node value="[35:45)">
                        <node value="[35:40)"/>
                        <node value="[40:45)"/>
                    </node>
                    <node value="[45:55)">
                        <node value="[45:50)"/>
                        <node value="[50:55)"/>
                    </node>
                </node>
                <node value="[55:75)">
                    <node value="[55:65)">
                        <node value="[55:60)"/>
                        <node value="[60:65)"/>
                    </node>
                    <node value="[65:75)">
                        <node value="[65:70)"/>
                        <node value="[70:75)"/>
                    </node>
                </node>
                <node value="[75:95)">
                    <node value="[75:85)">
                        <node value="[75:80)"/>
                        <node value="[80:85)"/>
                    </node>
                    <node value="[85:95)">
                        <node value="[85:90)"/>
                        <node value="[90:95)"/>
                    </node>
                </node>
            </vgh>
        </att>
        <att index="8" name="Gender">
            <map>
                <entry cat='Female' int='0'/>
                <entry cat='Male' int='1' />
            </map>
            <vgh value="[0:1]">
            </vgh>
        </att>
        <att index="2" name="Education">
            <map>
                <entry cat="Preschool" int="0"/>
                <entry cat="1st-4th" int="1"/>
                <entry cat="5th-6th" int="2"/>
                <entry cat="7th-8th" int="3"/>
                <entry cat="9th" int="4"/>
                <entry cat="10th" int="5"/>
                <entry cat="11th" int="6"/>
                <entry cat="12th" int="7"/>
                <entry cat="HS-grad" int="8"/>
                <entry cat="Prof-school" int="9"/>
                <entry cat="Some-college" int="10"/>
                <entry cat="Bachelors" int="11"/>
                <entry cat="Masters" int="12"/>
                <entry cat="Assoc-voc" int="13"/>
                <entry cat="Assoc-acdm" int="14"/>
                <entry cat="Doctorate" int="15"/>
            </map>
            <vgh value="[0:15]">
                <node value="[0:10)">
                    <node value="[0:3)"/>
                    <node value="[3:6)"/>
                    <node value="[6:10)"/>
                </node>
                <node value="[10:15]">
                    <node value="[10:13)"/>
                    <node value="[13:15]"/>
                </node>
            </vgh>
        </att>
        <att index="4" name="Marital-Status">
            <map>
                <entry cat="Married-AF-spouse" int="0"/>
                <entry cat="Married-civ-spouse" int="1"/>
                <entry cat="Married-spouse-absent" int="2"/>
                <entry cat="Separated" int="3"/>
                <entry cat="Widowed" int="4"/>
                <entry cat="Divorced" int="5"/>
                <entry cat="Never-married" int="6"/>
            </map>
            <vgh value="[0:6]">
                <node value="[0:4]"/>
                <node value="[5:6]"/>
            </vgh>
        </att>
        <att index="7" name="Race">
            <map>
                <entry cat="White" int="0"/>
                <entry cat="Black" int="1"/>
                <entry cat="Amer-Indian-Eskimo" int="2"/>
                <entry cat="Asian-Pac-Islander" int="3"/>
                <entry cat="Other" int="4"/>
            </map>
            <vgh value="[0:4]">
            </vgh>
        </att>
    </qid>
    <sens>
        <att index='5' name='Occupation'>
            <map>
                <entry cat="Adm-clerical" int='0'/>
                <entry cat="Armed-Forces" int='1'/>
                <entry cat="Craft-repair" int="2"/>
                <entry cat="Exec-managerial" int="3"/>
                <entry cat="Farming-fishing" int="4"/>
                <entry cat="Handlers-cleaners" int="5"/>
                <entry cat="Machine-op-inspct" int="6"/>
                <entry cat="Other-service" int="7"/>
                <entry cat="Priv-house-serv" int="8"/>
                <entry cat="Prof-specialty" int="9"/>
                <entry cat="Protective-serv" int="10"/>
                <entry cat="Sales" int="11"/>
                <entry cat="Tech-support" int="12"/>
                <entry cat="Transport-moving" int="13"/>
            </map>
        </att>
    </sens>
</config>
